POSTGRES_DB=foodgram
POSTGRES_USER=foodgram_user
POSTGRES_PASSWORD=foodgram_password

DB_NAME=foodgram
DB_USER=foodgram_user
DB_PASSWORD=foodgram_password
DB_HOST=db
DB_PORT=5432

SECRET_KEY=django-insecure-*ra$c5oam!=&vy01ay@^k=yyrji^onf@hyz+^y2%($ju(*8bd#
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,89.169.183.148,yofoodgram.duckdns.org